<div class="nowy">

<h1><b>New gist</b></h1>

<br/>

<%= render 'form' %>

<%= link_to '', gists_path, :class=>"glyphicon glyphicon-arrow-left", :style=>"font-size: 60px; color:   	
#61E8D1"%>

</div>

