/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

body {
 
  background: #CC9999 !important;
  text-align: center;
  font-size: 18px;	

}


h2 {

text-align: center;

}

.pokaz {

font-size: 18px;
text-align: left;
padding-left: 20px;
width: 300px;
padding-right: 20px;

}
	
.nowy {

font-size: 18px;
text-align: left;
margin-left: 20px;
width: 300px;

}

.edycja {

font-size: 18px;
text-align: left;
padding-left: 20px;
width: 300px;
padding-right: 20px;


}

.opis {

background: #C9B3D1;
font-size: 18px;
}

.index {

text-align: center;

}

